[Definition]
actionstart = curl -H "Title: Fail2ban Started" -H "Priority: default" -H "Tags: shield" -d "Fail2ban started on {{ inventory_hostname }}" {{ ntfy_url | default('https://ntfy.mljr.eu') }}/fail2ban

actionstop = curl -H "Title: Fail2ban Stopped" -H "Priority: default" -H "Tags: shield" -d "Fail2ban stopped on {{ inventory_hostname }}" {{ ntfy_url | default('https://ntfy.mljr.eu') }}/fail2ban

actioncheck =

actionban = curl -H "Title: IP Banned" -H "Priority: high" -H "Tags: no_entry" -d "Banned IP <ip> for <failures> failures in <name> jail on {{ inventory_hostname }}" {{ ntfy_url | default('https://ntfy.mljr.eu') }}/fail2ban

actionunban = curl -H "Title: IP Unbanned" -H "Priority: default" -H "Tags: door" -d "Unbanned IP <ip> from <name> jail on {{ inventory_hostname }}" {{ ntfy_url | default('https://ntfy.mljr.eu') }}/fail2ban

[Init]
