[Unit]
Description=Periodic sync of mljr-data repo for homepage

[Timer]
OnBootSec=2min
OnCalendar={{ homepage_data_sync_schedule }}
Persistent=true
RandomizedDelaySec=2min
Unit=homepage-data-sync.service

[Install]
WantedBy=timers.target
