# Compose Project Name
COMPOSE_PROJECT_NAME=template

# Service Configuration
PORT=8181
DISPLAY_MESSAGE=🚀 Production Service Running!
ENVIRONMENT=production
VERSION=1.0.0


# Timezone
TZ=Europe/Vienna
