[Unit]
Description=Homelab Backup Timer
Documentation=file://{{ backup_local_path }}/scripts/backup.sh

[Timer]
OnCalendar={{ backup_schedule }}
Persistent=true
RandomizedDelaySec=900

[Install]
WantedBy=timers.target
