#!/bin/sh
NE_DIR={{ wd_node_exporter_base }}/current
LOG={{ wd_node_exporter_base }}/node_exporter.log
if ! pgrep -f "node_exporter --web.listen-address" >/dev/null 2>&1; then
    cd "$NE_DIR"
    nohup ./node_exporter --web.listen-address=100.100.10.5:{{ wd_node_exporter_port }} >> "$LOG" 2>&1 &
fi
