users:
  admin:
    displayname: Admin
    password: "{{ authelia_admin_password_hash }}"
    email: "{{ email }}"
    groups:
      - admins
      - dev
  mrcode:
    displayname: mrcode
    password: "{{ authelia_admin_password_hash }}"
    email: "{{ email }}"
    groups:
      - admins
      - dev
