users:
  admin:
    displayname: Admin
    # Password set via vault
    password: "{{ secrets.authelia.admin_password }}"
    email: "{{ email }}"
    groups:
      - admins
      - dev
  mrcode:
    displayname: mrcode
    password: "{{ secrets.authelia.admin_password }}"
    email: "{{ email }}"
    groups:
      - admins
      - dev
